.a {
	text-align: right;
	color: #369
	text-decoration: none;
	font-size: 12px;
}

.li {
	display: inline-block;
	padding: ;
	margin: ;
}

.h1 {
	font-size: 25px;
	font-color: black;
	font-family: ;
}

.h2 {

}

.section {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.h